.icons-container {
    display: flex;
    text-align: center;
    padding: 10px 20px 0px 20px;
}

.icons-container ul {
    padding: 0;
    display: inline-flex;
    list-style-type: none;
}

.icons-container ul li img {
    width: 60%;
}

@media only screen and (min-width: 741px) {
    .icons-container ul li img {
        width: 24%;
    }
} 