.modal-bg {
    position: fixed;
    display: flex;
    background-color: transparent;
    opacity: 70%;
    justify-content: center;
    align-items: center;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}