.adminPage {
    text-align: center;
    padding: 15px;
}

.filter {
    display: flex;
    justify-content: center;
}

.filter input {
    width: 80%;
}

.results {
    margin: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
    display: grid;
    justify-content: center;
}

.title h1 {
    margin-bottom: 5px;
}

.title button {
    height: 40px;
    width: 100%;
    font-size: 1rem;
    border-radius: 15px;
    margin-bottom: 10px;
}